* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: Arial;
    color: #222;
   
    
}

.contenedor {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

header {
    background: #1e1e1e;
    padding: 18px 0;
    color: white;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.logo span { color: #0a79df; }

nav a {
    color: #fff;
    margin-left: 22px;
    font-size: 14px;
    
}
nav a.activo {
     color: #0a79df; 
    }

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-img {
    display: block;
    width: 100%;
    height: 500px;        
    object-fit: cover;       
    object-position: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 90%;
}

.hero-content h2 {
    margin: 0 0 12px;
    font-size: 60px;         
}

.boletin {
    background: #222;
    color: white;
    padding: 32px 0;
    text-align: start;  
}

.form-boletin {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}

.form-boletin input {
    padding: 10px;
    width: 360px;
    max-width: 70%;
    border: 1px solid #ddd;
    
}

.form-boletin button {
    padding: 10px 16px;
    background: #d84315;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 8px;
}
.boletin button:hover {
    opacity: 0.5;
     transform: scale(1.1);
}

.cajas {
    padding: 30px 0;
    background: #fff;
    text-align: center;
}

.cajas-inner {
    display: flex; 
    justify-content: space-between;
     gap: 20px; 
     flex-wrap: wrap; 
     padding: 68px;
    }

.caja {
    width: 30%;
    min-width: 220px;
    box-sizing: border-box;
    padding: 0 10px;
}

.caja h3 {
     margin-top: 12px; 
    
    }

.caja p { 
    color: #666;
     font-size: 14px;
     }

 footer  {
    background: #0a79df;
    padding: 50px 0;
    color: white;
    text-align: center;
    
}

hr {
    margin: 0;
    border: 0;
    height: 5px;
    background: #0a79df;
}

.boletin-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contenedorpadre{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;

}
.gris {background: gray;}

.grisC{
    background: lightgray;
    width: 100%;
    height: 25%;
    padding: 40px;
    margin: 30px;
    border: 2px solid black;
    
}

.grisC h3 {color: black;}

.contenedoriz {
    
   width: 80%;
    margin: 10px;
      padding: 30px;
      
}

.contenedoriz h2{
margin: 30px ;

}

.gris p {
    color: white;
    padding: 20px;
}

.contenedorder {
  width: 30%;
    background: grey;
    color: white;
    padding: 20px;
      margin: 60px;
      height: 250px;
         
}
.contenedorder p, h3{
color: white;
text-align: left;    
}

.info-box {
    background: gray;
    padding: 20px;
    margin-bottom: 20px;
}

.mapa {
    width: 100%;
    margin-top: 10px;
}

.contenedoriz form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contenedoriz input,
.contenedoriz textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.contenedoriz button {
    background: #e8491d;
    color: #fff;
    border: none;
    padding: 12px;
    cursor: pointer;
}

.contenedoriz button:hover {
   opacity: 0.5;
transform: scale(1.1);
}

